@import url("https://fonts.googleapis.com/css2?family=Electrolize&family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --white: #f5f5f5;
  --black: #121212;
  --yellow: #e6c400;
  --yellow2: #e6c40090;
  --gray: #cdcccc;
}
/* genel etiket stillendirmeleri */

body {
  font-family: "Electrolize", sans-serif;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: #f5f5f5;
}

p {
  color: var(--gray);
}

h1,
h2,
h3,
h4 {
  color: var(--white);

  font-family: "Poppins", sans-serif;
}
button {
  border: none;
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 15px;
  cursor: pointer;
}

/* header alanı */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  padding: 20px;
  position: sticky;
  top: 100;
}

#logo span {
  color: var(--yellow);
}

nav {
  display: flex;
  gap: 20px;
}

.link {
  color: var(--yellow);
}

.nav-button {
  display: none;
}




/* hero start */

#hero {
  height: 50vh;
  background: url(img/hero.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
}

.hero-inner {
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-left: 30px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  padding: 20px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.08);
  backdrop-filter: blur(5px);
  align-items: center;
  box-shadow: var(--yellow2) 4px 11px 13px -3px, rgba(0, 0, 0, 0.03) 0px 4px 6px -2px;}

.hero-inner h1 {
  color: var(--yellow);
  text-shadow: 6px 3px 0px rgba(0, 0, 0, 0.355);
}
.buttons {
  display: flex;
  gap: 20px;
}

.buttons > button {
  padding: 10px 40px;
}

.buttons > button:nth-child(1) {
  background-color: #e6c400;
}

/* hero end */





/* footer start */

footer {
  background-color: var(--black);
  padding: 40px;
}

.footer-area {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.footer-links {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.footer-buttom {
  text-align: center;
  margin-top: 50px;
  border-top: 1px solid var(--gray);
  padding-top: 20px;
}

.field {
  display: flex;
  gap: 10px;
}

.field input {
  padding: 5px 10px;
  border-radius: 10px;
  max-height: 50px;
}

.field button {
  background-color: var(--yellow);
  white-space: nowrap;
}

/* footer end */

/* responsive */

@media (max-width: 700px) {
  .nav-button {
    display: block;
  }

  nav {
    display: none;
  }

  .toggle {
    display: flex;
    position: fixed;
    right: 0;
    flex-direction: column;
    top: 70px;
    background-color: var(--gray);
    padding: 20px;
    border-radius: 10px;
    color: var(--black);
  }

  #hero{
    
    justify-content: center;
    align-items: center;
  }

  .hero-inner{
    backdrop-filter: blur(20px);
  }
}

@media (max-width: 1000px) {
  .footer-area {
    grid-template-columns: 1fr 1fr;
    row-gap: 50px;
    column-gap: 50px;
  }

  .footer-links {
    align-items: center;
  }

  .field input {
    max-width: 80px;
  }
}
